{% extends "base.html" %}

{% block title %}Logout{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px;">

    <div class="card p-4 shadow-sm bg-stone-dark text-main">

        <h2 class="text-center text-moss fw-bold mb-4">
            ¿Cerrar sesión?
        </h2>

        <p class="text-center mb-4">
            Confirma si deseas salir de tu cuenta.
        </p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger w-100">
                Logout
            </button>
        </form>

        <div class="text-center mt-4">
            <a href="{% url 'home' %}" class="text-moss fw-bold">
                Cancelar
            </a>
        </div>

    </div>

</div>
{% endblock %}
